<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dairy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FEF45B51D3CF63B00B06B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FEF45CC1D3CF64A00B06B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FEF45D71D3CF64B00B06B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
