<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JBChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>medical-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F6A8FE71E71711600FA8656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6A8FF01E71711700FA8656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB5B9221DA76A300032B1B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB5B9361DA76A330032B1B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FB5B9411DA76A330032B1B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
